<launch>

  <group ns="buff1">
    <node pkg="buff" name="sudoku_node" type="sudoku_node"/>
    <node pkg="buff" name="led_solver_node" type="led_solver_node"/>
    <node pkg="buff" name="control_node" type="control_node"/>
    <node pkg="buff" name="param_node" type="param_node"/>
    <node pkg="buff" name="fire_node" type="fire_node"/>
  </group>

</launch>
